<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    
    # Se il file richiesto non esiste fisicamente
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # Ridireziona tutte le richieste al tuo front controller
    RewriteRule ^(.*)$ api.php/$1 [QSA,L]
</IfModule>
# # av:php5-engine
AddHandler av-php82 .php
