@inherits LayoutComponentBase

<devbuddy.blazor.Components.CookieBanner />
<div class="page">
    <main>
        @Body
    </main>
    <div class="footer bg-light">
        <div class="container">
            <div class="row ">
                <hr />
                <div class="col-12 text-center ">
                    <p class="mb-1">© 2025 DevBuddy. Tutti i diritti riservati.</p>
                    <p class="mb-3">
                        <a href="/privacy-policy" class="text-decoration-none me-3">Privacy Policy</a>
                        <a href="/cookie-policy" class="text-decoration-none">Cookie Policy</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
