@page "/cookie-policy"
@inherits PageComponentsBase

<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <h1 id="cookie-policy-di-devbuddy">Cookie Policy di DevBuddy</h1>
            <p>Ultimo aggiornamento: 23 Aprile 2025</p>
            <h2 id="introduzione">Introduzione</h2>
            <p>La presente Cookie Policy spiega come DevBuddy (&quot;noi&quot;, &quot;ci&quot;, &quot;nostro&quot;) utilizza i cookie e tecnologie simili per riconoscere te quando visiti la nostra applicazione web. Spiega cosa sono queste tecnologie e perché le utilizziamo, nonché i tuoi diritti di controllare il nostro utilizzo di esse.</p>
            <h2 id="cosa-sono-i-cookie">Cosa sono i cookie</h2>
            <p>I cookie sono piccoli file di dati che vengono posizionati sul tuo computer o dispositivo mobile quando visiti un sito web o utilizzi un&#39;applicazione online. I cookie sono ampiamente utilizzati dai proprietari di siti web e applicazioni per far funzionare i loro siti e applicazioni, o per lavorare in modo più efficiente, nonché per fornire informazioni di reporting.</p>
            <p>I cookie impostati dall&#39;applicazione DevBuddy sono chiamati &quot;cookie di prima parte&quot;. I cookie impostati da parti diverse dal proprietario del sito web sono chiamati &quot;cookie di terze parti&quot;. I cookie di terze parti consentono funzionalità di terze parti o funzionalità da fornire sul o attraverso il sito web o l&#39;applicazione (come analisi e pubblicità).</p>
            <h2 id="perch-utilizziamo-i-cookie">Perché utilizziamo i cookie</h2>
            <p>Utilizziamo i cookie di prima parte e di terze parti per diversi motivi. Alcuni cookie sono necessari per ragioni tecniche affinché la nostra applicazione funzioni, e li chiamiamo cookie &quot;essenziali&quot; o &quot;strettamente necessari&quot;. Altri cookie ci permettono anche di tenere traccia e indirizzare gli interessi dei nostri utenti per migliorare l&#39;esperienza sulla nostra applicazione. Terze parti servono cookie attraverso la nostra applicazione per scopi di analisi e per assisterci nel testare nuove funzionalità e monitorare le prestazioni.</p>
            <h2 id="tipi-di-cookie-che-utilizziamo">Tipi di cookie che utilizziamo</h2>
            <h3 id="cookie-strettamente-necessari">Cookie strettamente necessari</h3>
            <p>Questi cookie sono necessari per il funzionamento dell&#39;applicazione DevBuddy e non possono essere disattivati nei nostri sistemi. Sono solitamente impostati solo in risposta ad azioni da te effettuate che equivalgono a una richiesta di servizi, come l&#39;impostazione delle preferenze di privacy, l&#39;accesso o la compilazione di moduli. Questi cookie non memorizzano alcuna informazione personale.</p>
            <h3 id="cookie-di-prestazione">Cookie di prestazione</h3>
            <p>Questi cookie ci permettono di contare le visite e le fonti di traffico in modo da poter misurare e migliorare le prestazioni della nostra applicazione. Ci aiutano a sapere quali pagine sono le più e le meno popolari e vedere come i visitatori si muovono nella applicazione. Tutte le informazioni raccolte da questi cookie sono aggregate e quindi anonime.</p>
            <h3 id="cookie-funzionali">Cookie funzionali</h3>
            <p>Questi cookie consentono all&#39;applicazione di fornire funzionalità e personalizzazione avanzate. Possono essere impostati da noi o da fornitori terzi i cui servizi abbiamo aggiunto alle nostre pagine. Se non consenti questi cookie, alcune o tutte queste funzionalità potrebbero non funzionare correttamente.</p>
            <h3 id="cookie-di-terze-parti">Cookie di terze parti</h3>
            <p>DevBuddy potrebbe utilizzare servizi di terze parti che fanno uso di cookie, come:</p>
            <ul>
                <li>Servizi di analisi per capire come gli utenti interagiscono con l&#39;applicazione</li>
                <li>Servizi di sicurezza per proteggere l&#39;applicazione da attacchi e frodi</li>
                <li>Servizi di hosting e infrastruttura per fornire l&#39;applicazione</li>
            </ul>
            <h2 id="local-storage-e-altre-tecnologie-di-archiviazione-locale">Local Storage e altre tecnologie di archiviazione locale</h2>
            <p>Oltre ai cookie, utilizziamo anche altre tecnologie simili per memorizzare e accedere ai dati sul tuo dispositivo. Queste includono:</p>
            <h3 id="web-storage-api-localstorage-e-sessionstorage-">Web Storage API (localStorage e sessionStorage)</h3>
            <p>DevBuddy utilizza localStorage per memorizzare informazioni che persistono anche dopo la chiusura dell&#39;applicazione, come le preferenze dell&#39;utente, i token di autenticazione e altri dati necessari per il funzionamento dell&#39;applicazione tra le sessioni. Il sessionStorage viene utilizzato per memorizzare informazioni per la durata della sessione del browser.</p>
            <h3 id="indexeddb">IndexedDB</h3>
            <p>In alcuni casi, potremmo utilizzare IndexedDB per memorizzare quantità maggiori di dati strutturati sul client. Questo ci permette di offrire alcune funzionalità offline e migliorare le prestazioni dell&#39;applicazione.</p>
            <h2 id="come-utilizziamo-specificamente-queste-tecnologie-in-devbuddy">Come utilizziamo specificamente queste tecnologie in DevBuddy</h2>
            <h3 id="autenticazione-e-sessione">Autenticazione e sessione</h3>
            <p>Utilizziamo il localStorage per conservare i token di autenticazione e mantenere la tua sessione attiva mentre utilizzi DevBuddy. Questo ti permette di rimanere connesso all&#39;applicazione anche se chiudi e riapri il browser.</p>
            <h3 id="preferenze-utente">Preferenze utente</h3>
            <p>Memorizziamo le tue preferenze (come impostazioni dell&#39;interfaccia, tema, lingua) per personalizzare la tua esperienza e mantenerla coerente durante le tue visite.</p>
            <h3 id="prestazioni-e-analisi">Prestazioni e analisi</h3>
            <p>Raccogliamo dati anonimi sull&#39;utilizzo dell&#39;applicazione per migliorare l&#39;esperienza utente, identificare problemi e ottimizzare le prestazioni. Questi dati non contengono informazioni personali che possono identificarti direttamente.</p>
            <h3 id="funzionalit-di-caching">Funzionalità di caching</h3>
            <p>Utilizziamo il localStorage e altre tecnologie di memorizzazione locale per memorizzare nella cache alcuni dati e risorse, migliorando i tempi di caricamento e riducendo il consumo di dati.</p>
            <h3 id="persistenza-dei-dati-locali">Persistenza dei dati locali</h3>
            <p>Per alcune funzionalità (come editor di note, formattatori di codice, ecc.), memorizziamo temporaneamente i tuoi contenuti in locale per prevenire la perdita di dati in caso di disconnessione o chiusura accidentale dell&#39;applicazione.</p>
            <h2 id="come-puoi-controllare-i-cookie">Come puoi controllare i cookie</h2>
            <p>La maggior parte dei browser web ti consente di controllare i cookie attraverso le impostazioni delle preferenze. Tuttavia, se limiti la capacità dei siti web di impostare cookie, potresti peggiorare la tua esperienza complessiva, poiché non sarà più personalizzata per te. Potrebbe anche impedirti di salvare impostazioni personalizzate come le informazioni di accesso.</p>
            <h3 id="gestione-dei-cookie-nel-tuo-browser">Gestione dei cookie nel tuo browser</h3>
            <p>Puoi gestire i cookie seguendo le istruzioni fornite dal tuo browser:</p>
            <ul>
                <li><a href="https://support.google.com/chrome/answer/95647">Chrome</a></li>
                <li><a href="https://support.mozilla.org/it/kb/Attivare%20e%20disattivare%20i%20cookie">Firefox</a></li>
                <li><a href="https://support.apple.com/it-it/guide/safari/sfri11471/mac">Safari</a></li>
                <li><a href="https://support.microsoft.com/it-it/microsoft-edge/eliminare-i-cookie-in-microsoft-edge-63947406-40ac-c3b8-57b9-2a946a29ae09">Edge</a></li>
            </ul>
            <h3 id="dati-di-archiviazione-locale">Dati di archiviazione locale</h3>
            <p>Per cancellare i dati memorizzati in localStorage, sessionStorage o IndexedDB, puoi utilizzare gli strumenti di sviluppo del tuo browser:</p>
            <ol>
                <li>Apri gli strumenti di sviluppo (in genere premendo F12 o Ctrl+Shift+I)</li>
                <li>Naviga alla scheda &quot;Application&quot; (Chrome/Edge) o &quot;Storage&quot; (Firefox)</li>
                <li>Espandi la sezione relativa alla tecnologia di memorizzazione (Local Storage, Session Storage, IndexedDB)</li>
                <li>Seleziona il dominio di DevBuddy e utilizza l&#39;opzione per cancellare i dati</li>
            </ol>
            <h2 id="aggiornamenti-alla-nostra-cookie-policy">Aggiornamenti alla nostra Cookie Policy</h2>
            <p>Potremmo aggiornare questa Cookie Policy di tanto in tanto per riflettere, ad esempio, cambiamenti nelle tecnologie che utilizziamo o per altri motivi operativi, legali o normativi. Ti invitiamo pertanto a visitare regolarmente questa Cookie Policy per rimanere informato sul nostro utilizzo di cookie e tecnologie correlate.</p>
            <p>La data in cima a questa Cookie Policy indica quando è stata aggiornata l&#39;ultima volta.</p>
            <h2 id="specifiche-tecniche-dei-cookie-utilizzati">Specifiche tecniche dei cookie utilizzati</h2>
            <table>
                <thead>
                    <tr>
                        <th>Nome del cookie</th>
                        <th>Tipo</th>
                        <th>Scopo</th>
                        <th>Durata</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><code>DevBuddy_Auth_Token</code></td>
                        <td>Essenziale</td>
                        <td>Memorizza il token di autenticazione</td>
                        <td>Sessione / LocalStorage</td>
                    </tr>
                    <tr>
                        <td><code>DevBuddy_User_Preferences</code></td>
                        <td>Funzionale</td>
                        <td>Memorizza le preferenze dell&#39;utente come tema, layout, ecc.</td>
                        <td>1 anno</td>
                    </tr>
                    <tr>
                        <td><code>DevBuddy_Session_ID</code></td>
                        <td>Essenziale</td>
                        <td>Gestisce la sessione dell&#39;utente</td>
                        <td>Sessione</td>
                    </tr>
                    <tr>
                        <td><code>DevBuddy_Analytics</code></td>
                        <td>Analisi</td>
                        <td>Raccoglie dati anonimi sull&#39;utilizzo dell&#39;applicazione</td>
                        <td>90 giorni</td>
                    </tr>
                </tbody>
            </table>
            <h2 id="come-vengono-utilizzati-i-dati-raccolti">Come vengono utilizzati i dati raccolti</h2>
            <p>I dati raccolti tramite i cookie e le tecnologie di archiviazione locale vengono utilizzati esclusivamente per:</p>
            <ol>
                <li>Fornirti il servizio DevBuddy come descritto</li>
                <li>Migliorare la funzionalità e l&#39;usabilità dell&#39;applicazione</li>
                <li>Personalizzare la tua esperienza in base alle tue preferenze</li>
                <li>Analizzare l&#39;utilizzo dell&#39;applicazione per guidare lo sviluppo futuro</li>
                <li>Garantire la sicurezza della tua account e dei tuoi dati</li>
            </ol>
            <h2 id="contattaci">Contattaci</h2>
            <p>Se hai domande sulla nostra Cookie Policy, contattaci:</p>
            <ul>
                <li>Via email: support@devbuddy.io</li>
            </ul>

        </div>
    </div>
</div>