<div class="row">
	<div class="col">
		<label for="comment">Input:</label>
<textarea class="form-control" rows="5" id="comment" name="text"></textarea>
	</div>
	<div class="col">
		<label for="comment">Output:</label>
<textarea class="form-control" rows="5" id="comment" name="text"></textarea>
	</div>
</div>