@using devbuddy.common.Applications
@inherits AppComponentBase

<div class="container mt-4">
    <h2 class="mb-4">Sql Formatter</h2>
    <div class="row mb-4">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="mb-0">Query di partenza</h5>
                    <div>
                        <button class="btn btn-primary btn-sm" @onclick="PasteFromClipboard" @attributes=@Tooltip("Incolla dagli appunti")>
                            <i class="fa-solid fa-paste"></i>
                        </button>
                        <button class="btn btn-danger btn-sm" @onclick="ClearInput" @attributes=@Tooltip("Cancella tutto")>
                            <i class="fa-solid fa-eraser"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-9 mb-2">
                            <textarea @bind="SqlToFormat"
                                      @bind:event="oninput"
                                      @bind:after="OnSqlChanged"
                                      @onkeydown="HandleKeyDown"
                                      @ref="textAreaRef"
                                      spellcheck="false"
                                      class="form-control w-100" rows="15" placeholder="Digita la query da formattare" style="font-family: monospace;"></textarea>
                        </div>
                        <div class="col-3">
                            <label class="mb-3">
                                Sintassi:
                                <select class="form-control" @bind="selectedDialect" @bind:after="OnDialectChanged">
                                    <option value="Standard">SQL Standard</option>
                                    <option value="TSql">T-SQL (SQL Server)</option>
                                    <option value="PostgreSQL">PostgreSQL</option>
                                    <option value="MySQL">MySQL</option>
                                    <option value="Oracle">Oracle</option>
                                    <option value="SQLite">SQLite</option>
                                </select>
                            </label><br />
                            @if (AnySuggestions)
                            {
                                <ul class="list-group">
                                    @foreach (var (suggestion, index) in Suggestions.Select((s, i) => (s, i)))
                                    {
                                        <li class="list-group-item  @(index == selectedSuggestionIndex ? "active" : "")" @onclick="() => InsertSuggestion(suggestion)">
                                            @if (!string.IsNullOrEmpty(suggestion.Text))
                                            {
                                                <span class="badge bg-primary">@suggestion.Text</span>
                                            }
                                        </li>
                                    }
                                </ul>
                            }
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-12">
                            @if (validationErrors.Any())
                            {
                                <div class="alert alert-danger">
                                    @foreach (var error in validationErrors)
                                    {
                                        <span>@error</span>
                                        <br />
                                    }
                                </div>
                            }
                            else if (!validationErrors.Any() && !string.IsNullOrWhiteSpace(SqlToFormat))
                            {
                                <div class="alert alert-success">
                                    <span>✓ Sintassi valida</span>
                                </div>
                            }

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="mb-0">Preview</h5>
                    <div>
                        <button class="btn btn-secondary btn-sm" @onclick="CopyToClipboard" @attributes=@Tooltip("Copia HTML negli appunti")>
                            <i class="fa-solid fa-code"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body markdown-preview">
                    @((MarkupString)formattedSql)
                </div>
            </div>
        </div>
    </div>
</div>